<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Blog | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" />
</head>

<body>
    {% include 'components/navbar.html' %}
    <!-- Page content -->
    <div class="container my-5">
        <div class="row">
            {% block content %}{% endblock %}
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <form action="{% url 'search' %}" method="get" class="input-group">
                            <input class="form-control" type="search" placeholder="Enter search term..." name="q" />
                            <button class="btn btn-primary" type="submit">Go!</button>
                        </form>
                    </div>
                </div>
                {% if categories %}
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            {% for category in categories %}
                                <a href="{% url 'category_detail' category.slug %}" class="list-group-item">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if widget %}
                    <div class="card mb-4">
                        <div class="card-header">{{ widget.title }}</div>
                        <div class="card-body">{{ widget.content }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Django Blog Website 2025
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>