{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- Header content -->
    <header class="p-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Welcome to BLOG!</h1>
                <p class="lead mb-0">A simple blog application built with Django and Bootstrap.</p>
            </div>
        </div>
    </header>
    <!-- Page content -->
    <div class="container">
        <div class="row">
            <!-- Blog entries -->
            <div class="col-lg-8">
                <!-- Featured blog post -->
                {% if featured_post %}
                    <div class="card mb-4">
                        <a href="">
                            {% if post.image %}
                                <img src="{{ post.image.url }}"
                                     alt="{{ post.title }}"
                                     class="card-img-top" />
                            {% elif post.image_url %}
                                <img src="{{ post.image_url }}"
                                     alt="{{ post.title }}"
                                     class="card-img-top" />
                            {% else %}
                                <img src="https://dummyimage.com/850x350/dee2e6/6c757d&text={{ featured_post.title|urlencode }}"
                                     alt="{{ post.title }}"
                                     class="card-img-top" />
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">{{ featured_post.created_at|date:"M d, Y" }}</div>
                            <h2 class="card-title">{{ featured_post.title }}</h2>
                            <p class="card-text">{{ featured_post.content|truncatewords:30 }}</p>
                            <a class="btn btn-primary" href="#!">Read more <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                {% endif %}
                <!-- Nested row for non-featured blog posts -->
                <div class="row">
                    {% if page_obj %}
                        {% for post in page_obj %}
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <a href="">
                                        {% if post.image %}
                                            <img src="{{ post.image.url }}"
                                                 alt="{{ post.title }}"
                                                 class="card-img-top" />
                                        {% elif post.image_url %}
                                            <img src="{{ post.image_url }}"
                                                 alt="{{ post.title }}"
                                                 class="card-img-top" />
                                        {% else %}
                                            <img src="https://dummyimage.com/700x350/dee2e6/6c757d&text={{ post.title|urlencode }}"
                                                 alt="{{ post.title }}"
                                                 class="card-img-top" />
                                        {% endif %}
                                    </a>
                                    <div class="card-body">
                                        <div class="small text-muted">{{ post.created_at|date:"M d, Y" }}</div>
                                        <h2 class="cart-title h4">{{ post.title }}</h2>
                                        <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                                        <a class="btn btn-primary" href="">Read more <i class="bi bi-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Pagination-->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control"
                                   type="search"
                                   placeholder="Enter search term..."
                                   aria-label="Enter search term..."
                                   aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                {% if categories %}
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                {% for category in categories %}<a href="" class="list-group-item">{{ category.name }}</a>{% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Side widget-->
                {% if widget %}
                    <div class="card mb-4">
                        <div class="card-header">{{ widget.title }}</div>
                        <div class="card-body">{{ widget.content }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}