<div class="card mb-4">
    <a href="{% url 'post_detail' featured_post.id %}">
        {% if featured_post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img-top" />
        {% elif featured_post.image_url %}
            <img src="{{ post.image_url }}" alt="{{ post.title }}" class="card-img-top" />
        {% else %}
            <img src="https://dummyimage.com/850x350/dee2e6/6c757d&text={{ featured_post.title|urlencode }}"
                alt="{{ post.title }}" class="card-img-top" />
        {% endif %}
    </a>
    <div class="card-body">
        <div class="small text-muted">{{ featured_post.created_at|date:"M d, Y" }} | <a
                href="{% url 'category_detail' featured_post.category.slug %}"
                class="text-decoration-none badge bg-primary">{{ featured_post.category.name }}</a></div>
        <h2 class="card-title">{{ featured_post.title|escape }}</h2>
        <p class="card-text">{{ featured_post.content|truncatewords:30 }}</p>
        <a class="btn btn-primary" href="{% url 'post_detail' featured_post.id %}">Read more <i
                class="bi bi-arrow-right"></i></a>
    </div>
</div>